.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.play {
  color: rgb(221, 30, 138);
  margin-left: 10px;
}

.head {
  margin-right: auto;
  font-size: x-large;
  font-weight: bold;
}
