
.title {
    font-size: 18px;
    font-weight: bold;
} 

.create {
    overflow-x: hidden;
  }
  
  .create-nav {
    height: 2rem;
    background-color: rgb(245, 246, 246);
    padding: 15px;
    width: 90vw;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .create-subheader {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: aliceblue;
  }
  
.create-body {
  background-color: aliceblue;
  margin: 15px;
  padding: 10px;
  border-radius: 15px;
}
  